*{
    margin: 0%;
    padding: 0%;
}

/* .parent{
    display: flex;
    flex-direction: column;

} */


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    background-color: #581b98;
    display: flex;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

    
}

.leaderboard-text{
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.favorites-container{
    display: flex;
}

.favorites{
    width: 23vw;
    height: 50vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin: 20px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
}

.fav-img{
    width: 23vw;
    height: 35vh;
    
}

.profile-image{
    border-radius: 20px;
    width: 100%;
    height: 100%;

}

.name{
    font-weight: 600;
    margin-left: 15px;
    margin-top: 10px;

}

.track{
    margin-left: 15px;
    margin-top: 10px;
}

.score{
    margin-left: 15px;
    margin-top: 10px;
}

.track-button{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
    margin-top: 20px;
    

}

button{
    border: 3px solid #737373;
    height: 40px;
    width: 15vw;
    background-color: white;
    border-radius: 20px;
    margin-left: 40px;
    color: #737373;
}

button:hover{
    background-color: #581b98;
    color: white;
}

.interns-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.interns{
    width: 60vw;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.intern-image-container{
    border: 1px solid black;
    width: 11%;
    height: 11%;
    border-radius: 50%;
}

.intern-image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.intern-data{
    flex-direction: column;
    margin-left: 30px;
}

.intern-name{
    font-size: 15px;
    font-weight: 600;
}

.intern-username{
    font-size: 15px;
}

.intern-score{
    font-weight: 600;
    font-size: 15px;
    margin-left: 30px;
}

.icon{

}

.score{

}

@media (maxwidth:550px){
  .container{
    height: 60vh;
  }  
}